<app-topo></app-topo>
<div *ngIf="andamentoJogo; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else vitoria" class="container" styles="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: rgb(255, 15, 15);">você perdeu babaca de merda</h3>
                <button class="btn btn-primary" (click)="restart()">Restart</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #vitoria>
    <div class="container" styles="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color:green;">Parabéns ae</h3>
            </div>
        </div>
    </div>
</ng-template>


