<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <div class="col-sm-6">
                    <app-progresso></app-progresso>
                </div>
            </div>
            <div class="col-sm-3">
                <app-tentativas></app-tentativas>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="col-sm-6">
                    <p class="traduz">Traduza a frase: </p>
                    <p>{{name}}</p>
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">Verificar</button>
                </div>
            </div>
        </div>
           
    </div>
</div>